@media (min-width: 1200px) {
  .container {
    width: 1274px;
  }
}
* {
  font-size: 18px;
  font-family: "Panton";
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
}
body {
  box-sizing: border-box;
  background-color: #1d1d1d;
}
div:active,
img:active,
button:active,
input:active,
div:focus,
img:focus,
button:focus,
input:focus {
  outline: none;
}
a {
  color: white;
}
a:link {
  color: white;
}
a:hover {
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-image: -moz-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-image: -webkit-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-image: -ms-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  box-shadow: 0px 27px 51px 0px rgba(0, 0, 0, 0.17);
  border-radius: 0 0 15px 15px;
  left: 323px;
  width: 1274px;
  height: 73px;
  margin-bottom: 20px;
}
.logo {
  height: 44px;
  width: 123px;
  margin-left: 142px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
.buttons {
  display: flex;
  align-items: center;
  margin-right: 350px;
}
.butt {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
}
.butt1 {
  width: 170px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.butt2 {
  width: 170px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.butt3 {
  width: 170px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.films:hover,
.serials:hover {
  border-radius: 5px;
  background-color: #fec92d;
  top: 0px;
  width: 170px;
  height: 73px;
  -webkit-clip-path: polygon(25px 0px, 170px 0px, 145px 73px, 0px 73px);
  color: #1a1b1b;
  font-weight: normal;
}
.mults:hover {
  border-radius: 5px;
  background-color: #fec92d;
  top: 0px;
  width: 170px;
  height: 73px;
  -webkit-clip-path: polygon(25px 0px, 170px 0px, 145px 73px, 0px 73px);
  color: #1a1b1b;
}
.sign-in {
  color: #222222;
  text-transform: uppercase;
  border: none;
  margin-right: 142px;
  border-radius: 15px;
  background-color: #fec92d;
  width: 123px;
  height: 43px;
}
.sign-in:hover {
  box-shadow: 0 0 8px 0 rgba(239, 199, 66, 0.5);
}
.main {
  align-items: center;
  background-image: -moz-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-image: -webkit-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-image: -ms-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  box-shadow: 0px 27px 51px 0px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  left: 323px;
  width: 1274px;
  height: 895px;
  padding-top: 20px;
}
.film {
  height: 100%;
  width: 15%;
}
.bg-imgs {
  position: relative;
  z-index: 1;
  margin-right: 20px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.search-find {
  border-width: 0.5px;
  border-color: #efc742;
  border-style: solid;
  border-radius: 15px 15px 15px 5px;
  box-shadow: 0 0 8px 0 rgba(239, 199, 66, 0.5);
  background-color: #222222;
  width: 160px;
  height: 45px;
}
.search-find:hover {
  background-color: #fec92d;
  color: #1c1c1c;
}
.search-field {
  height: 45px;
  width: 490px;
  border-radius: 15px 15px 15px 5px;
  border: none;
  background-image: url(../img/search_bg.png);
  background-repeat: no-repeat;
  background-position: left 5px center;
  padding-left: 56px;
  color: #1d1d1d;
  font-style: italic;
  text-align: left;
}
.search-icon {
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 2.2%;
  top: 27%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
}
.slider-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
  position: relative;
}
.vertical-text {
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  -ms-transform: matrix(0, -1, 1, 0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  font-family: "Panton";
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  float: right;
  opacity: 0.1;
  transform: rotate(-90deg);
  transform-origin: bottom center;
  font-size: 72px;
  height: 100%;
  width: 20%;
  margin: none;
}
.my-slider-line {
  position: absolute;
  z-index: 3;
  top: 15%;
  left: 60%;
  height: 500px;
  width: 50px;
  transform: skew(-15deg);
  background-color: yellow;
}
.my-slick-arrow {
  background-image: url(../img/right_arrow.png);
  position: absolute;
  z-index: 4;
  top: 40%;
  left: 64%;
  width: 70px;
  height: 100px;
  border: none;
  background-color: transparent;
}
.slider-wrap {
  margin-left: 0;
}
.slider-grad1 {
  position: absolute;
  z-index: 5;
  left: 13.5%;
  top: 0%;
  width: 650px;
  height: 440px;
  background: #222222;
  background: linear-gradient(90deg, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.41306029) 52%, rgba(34, 34, 34, 0.63154769) 100%);
}
.slider-grad2 {
  position: absolute;
  z-index: 5;
  left: 68%;
  top: 0%;
  width: 380px;
  height: 440px;
  background: #222222;
  background: linear-gradient(90deg, rgba(34, 34, 34, 0.60913872) 0%, rgba(34, 34, 34, 0.80241603) 52%, #222222 100%);
}
.slider {
  position: relative;
  z-index: 1;
  height: 350px;
  width: 900%;
  overflow: hidden;
  border-radius: 15px;
  margin-left: -100px;
  margin-right: 50px;
}
.slider img {
  width: 648px;
  height: 350px;
  border-radius: 15px;
}
.slide1 {
  position: absolute;
  border-radius: 15px 15px 15px 15px;
  z-index: 2;
  visibility: hidden;
}
.slider-sub {
  display: flex;
  margin-top: 26px;
  margin-left: 155px;
}
.vert-line {
  width: 3px;
  height: 43px;
  background-color: #efc742;
}
.slider-text {
  font-size: 24px;
  font-family: "Panton";
  color: #ffffff;
  line-height: 43px;
  text-align: left;
  display: block;
  margin: auto;
  margin-left: 41px;
}
.text {
  margin-right: 142px;
  margin-left: 142px;
}
.main-text1 {
  text-align: justify;
  font-size: 18px;
  font-family: "Panton";
  color: #595959;
  font-weight: normal;
  font-style: italic;
  line-height: 1.2;
  display: flex;
  margin-top: 0;
  padding-bottom: 46px;
  margin-right: 142px;    
  margin-left: 185px; 
}
.main-text {
  text-align: justify;
  font-size: 18px;
  font-family: "Panton";
  color: #595959;
  font-weight: normal;
  font-style: italic;
  line-height: 1.2;
  display: flex;
  margin-top: 86px;
  margin-right: 142px;    
  margin-left: 185px; 
}
b {
  display: flex;
  font-size: 18px;
  font-family: "Panton";
  color: #efc742;
  text-transform: uppercase;
  line-height: 1.2;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  width: 1274px;
  margin-top: 37px;
}
.footer-logos {
  display: flex;
  justify-content: space-around;
  margin-left: 142px;
  padding-right: 30px;
}
.footer-logo {
  color: #efc742;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
.footer-text {
  display: block;
  margin: auto;
  align-items: center;
  margin-right: 142px;
  color: #494949;
}
.films-field {
  margin: 20px 0 20px 0;
  padding: 0 142px 0 142px;
  height: 2300px;
  width: 1274px;
  position: relative;
  z-index: 1;
  align-items: center;
  background-image: -moz-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-image: -webkit-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-image: -ms-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-repeat: no-repeat;
  box-shadow: 0px 27px 51px 0px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
}
.bg-img-front {
  background-image: url(../img/film.png);
  background-repeat: no-repeat;
  background-position: -10px -50px;
  position: absolute;
  height: 200px;
  width: 304px;
  z-index: 2;
  left: 0;
  top: 0;
}
.title {
  font-family: "Panton";
  font-size: 48px;
  font-weight: 350;
  display: block;
  text-align: left;
  padding-top: 60px;
}
.main-buttons {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
}
.button button {
  text-align-last: left;
  border: 0.5px solid #efc742;
  border-radius: 15px 15px 15px 5px;
  box-shadow: 0 0 8px 0 rgba(239, 199, 66, 0.5);
  height: 43px;
  margin-right: 12px;
  padding-left: 20px;
}
.button-1-unclicked {
  position: relative;
  z-index: 1;
  width: 113px;
  padding-top: 2px;
  font-size: 18px;
  font-family: "Panton";
  line-height: 1.2;
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: right 13px center;
}
.button-1-clicked {
  position: relative;
  z-index: 1;
  width: 113px;
  font-size: 18px;
  font-family: "Panton";
  line-height: 1.2;
  background-color: #efc742;
  background-image: url(../img/ellipse.png);
  background-repeat: no-repeat;
  background-position: right 13px center;
}
.button-1-clicked-clicked {
  width: 113px;
  height: 43px;
  padding-top: 11px;
  padding-left: 20px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  align-items: center;
  color: #222222;
  background-color: transparent;
  background-image: url(../img/cross.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
}
.button-2-unclicked {
  position: relative;
  z-index: 1;
  padding-left: 21px;
  font-size: 18px;
  font-family: "Panton";
  background-color: #222222;
  line-height: 1.2;
  box-shadow: 0 0 8px 0 rgba(239, 199, 66, 0.5);
  width: 142px;
  height: 43px;
  color: #ffffff;
}
.button-2-clicked {
  position: relative;
  z-index: 1;
  width: 142px;
  padding-left: 20px;
  font-size: 18px;
  font-family: "Panton";
  line-height: 1.2;
  background-color: #efc742;
  background-image: url(../img/ellipse.png);
  background-repeat: no-repeat;
  background-position: right 13px center;
}
.button-2-clicked-clicked {
  width: 142px;
  height: 43px;
  padding-top: 11px;
  padding-left: 20px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  align-items: center;
  color: #222222;
  background-color: transparent;
  background-image: url(../img/cross.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
}
.button-3-unclicked {
  position: relative;
  z-index: 1;
  padding-left: 21px;
  font-size: 18px;
  font-family: "Panton";
  background-color: #222222;
  line-height: 1.2;
  box-shadow: 0 0 8px 0 rgba(239, 199, 66, 0.5);
  width: 142px;
  height: 43px;
  color: #ffffff;
}
.button-3-clicked {
  position: relative;
  z-index: 1;
  width: 142px;
  padding-left: 20px;
  font-size: 18px;
  font-family: "Panton";
  line-height: 1.2;
  background-color: #efc742;
  background-image: url(../img/ellipse.png);
  background-repeat: no-repeat;
  background-position: right 13px center;
}
.button-3-clicked-clicked {
  width: 142px;
  height: 43px;
  padding-top: 11px;
  padding-left: 20px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  align-items: center;
  color: #222222;
  background-color: transparent;
  background-image: url(../img/cross.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
}
.genre-button {
  margin-left: 76px;
}
.genre-button button {
  border: none;
  border-radius: 15px 15px 15px 5px;
  background-color: #353535;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
  box-shadow: none;
  width: 224px;
  height: 43px;
  padding-left: 62px;
  margin-left: 14px;
  margin-right: 0;
}
.genre-button button:hover {
  background-image: url(../img/reverse_arrow.png);
}
.more-button {
  margin-left: 76px;
}
.more-button button {
  border: none;
  border-radius: 15px 15px 15px 5px;
  background-color: #353535;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
  box-shadow: none;
  width: 224px;
  height: 43px;
  padding-left: 62px;
  margin-left: 14px;
  margin-right: 0;
}
.more-button button:hover {
  background-image: url(../img/reverse_arrow.png);
}
.b-1 {
  position: relative;
  display: inline-block;
}
.b-2 {
  position: relative;
  display: inline-block;
}
.hidden-content {
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  width: inherit;
  height: 45px;
  opacity: 0;
}
.hidden-content:hover {
  opacity: 1;
  display: block;
}
.hidden-content:hover ~ .dropdown-list {
  opacity: 1;
  display: block;
}
.disable-hover {
  pointer-events: none;
}
.active-hover {
  pointer-events: auto;
}
.dropdown-list {
  margin-top: 40px;
  max-height: 255px;
  width: 224px;
  border-radius: 15px 15px 15px 5px;
  overflow: hidden;
  overflow-y: auto;
  background-image: -moz-linear-gradient(90deg, #222222 0%, rgba(34, 34, 34, 0.5) 39%, rgba(34, 34, 34, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, #222222 0%, rgba(34, 34, 34, 0.5) 39%, rgba(34, 34, 34, 0) 100%);
  background-image: -ms-linear-gradient(90deg, #222222 0%, rgba(34, 34, 34, 0.5) 39%, rgba(34, 34, 34, 0) 100%);
  position: absolute;
  left: 0;
}
.dropdown-list::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}
.dropdown-list:hover {
  opacity: 1;
  display: block;
}
.dropdown-gradient {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 45px;
  height: 255px;
  width: 224px;
  border-radius: 15px 15px 15px 5px;
  background: #222222;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222222 100%);
  pointer-events: none;
}
.dropdown-content {
  width: 224px;
  height: 35px;
  z-index: 2;
  display: block;
  left: 0;
  margin-left: -40px;
  background-color: transparent;
  font-size: 16px;
  font-family: "Panton";
  color: #ffffff;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-content:hover {
  cursor: pointer;
  color: #efc742;
  background-color: #353535;
}
.add-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 28px 20px 5px 2px;
  max-width: 950px;
}
.add-button {
  display: flex;
  align-items: center;
  margin: 5px 0 5px 18px;
}
.imgs {
  align-items: center;
  position: relative;
  margin-left: 4px;
}
.back-img {
  display: block;
  align-items: center;
  margin-left: -1px;
}
.front-img {
  display: block;
  margin-top: 3px;
  align-items: center;
  height: 17px;
  width: 17px;
  margin-left: 4px;
  border: none;
  background-color: transparent;
}
.front-img:hover {
  background-image: url(../img/add_ellipse.svg);
}
.films-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 2.5px 50px 2.5px;
}
.film-section {
  transition: all 0.2s ease;
}
.film-section:hover {
  transform: scale(1.1);
}
.film-section:hover .film-card {
  box-shadow: 0 0 85px 0 rgba(239, 199, 66, 0.5);
}
.film-section:hover .line-vert {
  border-radius: 2px;
  background-color: #efc742;
  width: 10px;
  height: 34px;
}
.film-section:hover .film-descr .film-name {
  font-size: 18px;
  font-weight: bold;
}
.film-card {
  margin: 35px 17.5px 18px 17.5px;
  width: 162px;
  height: 231px;
  border-radius: 10px;
  box-shadow: 0 0 35px 0 rgba(239, 199, 66, 0.1);
  overflow: hidden;
  transition: all 0.2s ease;
}
.film-descr {
  height: 35px;
  width: 162px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-align: left;
  transition: all 0.2s ease;
}
.line-vert {
  background-color: #efc742;
  width: 3px;
  height: 34px;
  transition: all 0.2s ease;
}
.film-name-year {
  margin-left: 13px;
  height: 34px;
  text-align: left;
}
.film-name {
  font-size: 16px;
  font-family: "Panton";
  color: #ffffff;
  line-height: 1.2;
  transition: all 0.2s ease;
  text-align: left;
}
.film-year {
  font-size: 12px;
  font-family: "Panton";
  color: #6e6e6e;
  font-style: italic;
  line-height: 1.2;
  transition: all 0.2s ease;
  text-align: left;
}
.film-single {
  margin-top: 40px;
  width: 1274px;
  background-image: -moz-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-image: -webkit-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  background-image: -ms-linear-gradient(0deg, #242424 0%, #232323 49%, #222222 100%);
  box-shadow: 0px 27px 51px 0px rgba(0, 0, 0, 0.17);
  border-radius: 15px 15px 15px 15px;
  padding: 60px 142px 60px 142px;
}
.film-single-descr {
  display: flex;
  height: 460px;
  position: relative;
}
.film-descr-img {
  margin-right: 84px;
  width: 324px;
  border-radius: 10px;
  box-shadow: 0 0 35px rgba(239, 199, 66, 0.3);
}
.film-info {
  height: 460px;
}
.film-title {
  font-size: 36px;
  font-family: "Panton";
  font-style: lighter;
  color: #ffffff;
  line-height: 1.2;
  text-align: left;
}
.film-mini-title {
  font-size: 24px;
  font-family: "Panton";
  color: #656565;
  font-style: italic;
  line-height: 1.2;
  text-align: left;
}
.film-time {
  display: flex;
}
.clock {
  width: 29px;
  height: 29px;
}
.time {
  display: block;
  margin: auto;
  margin-left: 12px;
  font-size: 24px;
  font-family: "Panton";
  color: #ffffff;
  line-height: 1.2;
  text-align: left;
}
.list-info {
  margin-top: 71px;
}
.info {
  display: flex;
  margin-bottom: 21px;
}
.info-title {
  font-size: 18px;
  font-family: "Panton";
  color: #666666;
  line-height: 1.2;
  text-align: left;
}
.info-data {
  margin-left: 18px;
  font-size: 18px;
  font-family: "Panton";
  color: #ffffff;
  line-height: 1.2;
  text-align: left;
}
.like-play {
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 85%;
}
.like-play button {
  width: 45px;
  height: 45px;
  margin-left: 23px;
  border: none;
  border-radius: 50%;
  background-color: #efc742;
  box-shadow: 0 0 15px rgba(239, 199, 66, 0.35);
}
.like {
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: 25px 21px;
}
.play {
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  background-position: 60% 55%;
  background-size: 25px 21px;
}
.marks-actors {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.info-marks {
  margin-bottom: 15px;
}
.actors-slider {
  display: block;
  margin: auto;
  margin-left: 210px;
}
.mini-slider {
  width: 500px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.slide {
  position: absolute;
  width: 66px;
  height: 71px;
  margin-left: 17px;
  border-radius: 10px;
  z-index: 1;
  background-color: black;
}
.slider-arrow {
  border: none;
  background-color: transparent;
  position: absolute;
  z-index: 101;
  left: 67%;
  top: 89%;
  width: 12px;
  height: 23px;
  background-image: url(../img/mini-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}
.mini-slider-grad {
  position: absolute;
  z-index: 100;
  left: 45%;
  top: 86%;
  width: 400px;
  height: 78px;
  background: #222222;
  background: linear-gradient(90deg, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.88364853) 82%, #222222 100%);
}
.film-text {
  display: block;
  align-items: flex-start;
  margin-top: 68px;
}
.text {
  font-size: 18px;
  font-family: "Panton";
  color: #ffffff;
  font-style: italic;
  line-height: 1.2;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
.yt-bg {
  position: relative;
  margin: auto;
  margin-top: 100px;
  width: 790px;
  height: 550px;
  background-color: #353535;
  border-radius: 10px;
}
.yt {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 9%;
}
.yt-buttons {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.yt-watch {
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 10px 0 0 0;
  background-color: transparent;
}
.yt-watch-clicked {
  box-shadow: 0px 0px 7.1px 2.9px rgba(34, 34, 34, 0.7);
  border-radius: 10px 10px 0 0;
  color: #fec92d;
}
.yt-trailer {
  width: 107px;
  height: 50px;
  border: none;
  border-radius: 0 10px 0 0;
  background-color: transparent;
}
.yt-trailer-clicked {
  box-shadow: 0px 0px 7.1px 2.9px rgba(34, 34, 34, 0.7);
  border-radius: 10px 10px 0 0;
  color: #fec92d;
}
.utorrent {
  position: absolute;
  left: 20px;
  bottom: 16px;
  color: #fec92d;
  font-style: italic;
  text-decoration: underline;
}
.your-value {
  position: absolute;
  left: 50%;
  bottom: 5px;
}
.star {
  height: 100px;
  width: 100px;
  margin-left: 2px;
  border: none;
  background-color: transparent;
  background-image: url(../img/full.png);
  background-repeat: no-repeat;
  background-position: center;
}
progress {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
}
.starability-checkmark {
  position: absolute;
  bottom: -18px;
  right: 20px;
}

/* HOME AUTOCOMPLETE */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
